@model HttpPostedFileBase
@*@Html.TextBoxFor(model => model, new { type = "file" })*@
@*@Html.HiddenFor(model => model)*@
<input type="hidden" id="@(ViewData.TemplateInfo.HtmlFieldPrefix)Path" name="@(ViewData.TemplateInfo.HtmlFieldPrefix)Path" />
<script>
    function getAddress(src) {
        alert(src);
        //http://stackoverflow.com/questions/6615541/how-to-get-models-field-name-in-custom-editor-template
        $("#@(ViewData.TemplateInfo.HtmlFieldPrefix)Path").val(src);
        //$("#texens").val("tinkumaster");
    }
</script>

<button type="button" id="btnSelect" class="btn btn-default">
    <span class="glyphicon glyphicon-file" aria-hidden="true" />
    <span class="t14b">
        انتخاب فایل
    </span>
</button>
